# .clang-tidy
Checks: >
  -*,
  bugprone-use-after-move,
  performance-move-const-arg,
  bugprone-dangling-handle,
  clang-analyzer-core.uninitialized.Branch,
  clang-analyzer-core.NullDereference,
  bugprone-sizeof-expression,
  bugprone-integer-division-into-float,
  modernize-use-override

WarningsAsErrors: '*'

# clang-tidy *.cpp --checks="-*,bugprone-use-after-move,performance-move-const-arg,bugprone-dangling-handle,clang-analyzer-core.uninitialized.Branch,clang-analyzer-core.NullDereference,bugprone-sizeof-expression,bugprone-integer-division-into-float,modernize-use-override" -- -std=c++23 -Wall -Wextra -Werror